data/*
runs/*
submission/*
**/__pycache__/
apptainer/*

!data/.gitkeep
!data/fog_dataset*
!runs/.gitkeep
!apptainer/fog_environment.yml
!apptainer/fog_apptainer.def
!apptainer/evaluation.ipynb
!apptainer/main.py


