data/*
runs/*
submission/*
**/__pycache__/
apptainer/*

!data/.gitkeep
!data/fog_dataset*
!data/process_data.ipynb
!runs/.gitkeep
!apptainer/fog_environment.yml
!apptainer/fog_apptainer.def
!apptainer/evaluation.ipynb
!apptainer/main.py
!apptainer/codes
!apptainer/README.md



